# ---------------------------------------------------------------------------- #
# Base Setup                                                                   #
# ---------------------------------------------------------------------------- #
stages:
  - test
  - bulild
  - deploy
  - release

before_script:
  - ./devops/python/setup_uv.sh

cache:
  paths:
    - .cache/uv

# ---------------------------------------------------------------------------- #
# Test                                                                         #
# ---------------------------------------------------------------------------- #
package:test:py314:
  stage: test
  image: python:3.14
  script:
    - ./devops/python/setup_dependencies.sh
    - ./devops/python/execute_tests.sh
    - ./devops/python/upload_coverage.sh
  cache:
    key: ${CI_JOB_NAME}
    paths:
      - .tox
  artifacts:
    when: always
    reports:
      junit: report.xml

# ---------------------------------------------------------------------------- #
# Package                                                                      #
# ---------------------------------------------------------------------------- #
package:bulild:py314:
  stage: bulild
  image: python:3.14
  script:
    - ./devops/python/build_package.sh
  artifacts:
    paths:
      - dist/
    expire_in: 1 week
  dependencies:
    - package:test:py314
  only:
    - /v(\d+)\.(\d+)\.(\d+)/

docs:bulild:py314:
  stage: bulild
  image: python:3.14
  variables:
    NODE_VERSION: 24.11.1
  script:
    - ./devops/python/setup_dependencies.sh
    - ./devops/python/setup_docs_dependencies.sh
    - ./devops/python/build_docs_with_jupyterbook.sh
  artifacts:
    paths:
      - _build/
    expire_in: 1 week
  dependencies:
    - package:test:py314
  only:
    - master

# ---------------------------------------------------------------------------- #
# Release                                                                      #
# ---------------------------------------------------------------------------- #
package:deploy:py314:
  stage: deploy
  image: python:3.14
  script:
    - ./devops/python/setup_pypi_credentials.sh
    - ./devops/python/publish_package_to_pypi.sh
  dependencies:
    - package:bulild:py314
  only:
    - /v(\d+)\.(\d+)\.(\d+)/

package:release:gitlab:py314:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG # Run this job when a tag is created
  before_script:
    - echo ""
  script:
    - echo "Creating Release $CI_COMMIT_TAG"
  release: # See https://docs.gitlab.com/ee/ci/yaml/#release for available properties
    tag_name: "$CI_COMMIT_TAG"
    description: "$CI_COMMIT_TAG"
  dependencies:
    - package:bulild:py314

# Gitlab requires the use of the name "pages" for the job  in order to have
# Gitlab Pages working correctly.
# docs:deploy:py314:
pages:
  stage: deploy
  image: busybox:latest
  before_script:
    - echo "Doesn't need any setup"
  script:
    - ./devops/python/publish_docs_to_gitlab_pages.sh
  artifacts:
    paths:
      - public/
    expire_in: 1 week
  dependencies:
    - docs:bulild:py314
  only:
    - develop
    - master
