beautifulsoup4==4.11.2 ; python_full_version == "3.10.4"
certifi==2022.12.7 ; python_full_version == "3.10.4"
charset-normalizer==3.0.1 ; python_full_version == "3.10.4"
contourpy==1.0.7 ; python_full_version == "3.10.4"
cycler==0.11.0 ; python_full_version == "3.10.4"
enforce-typing==1.0.0.post1 ; python_full_version == "3.10.4"
et-xmlfile==1.1.0 ; python_full_version == "3.10.4"
fonttools==4.38.0 ; python_full_version == "3.10.4"
graphql-core==3.2.3 ; python_full_version == "3.10.4"
idna==3.4 ; python_full_version == "3.10.4"
kiwisolver==1.4.4 ; python_full_version == "3.10.4"
matplotlib==3.7.0 ; python_full_version == "3.10.4"
numpy==1.24.2 ; python_full_version == "3.10.4"
openpyxl==3.1.1 ; python_full_version == "3.10.4"
packaging==23.0 ; python_full_version == "3.10.4"
pillow==9.4.0 ; python_full_version == "3.10.4"
pyparsing==3.0.9 ; python_full_version == "3.10.4"
python-dateutil==2.8.2 ; python_full_version == "3.10.4"
python-dotenv==0.20.0 ; python_full_version == "3.10.4"
requests==2.28.2 ; python_full_version == "3.10.4"
scipy==1.10.1 ; python_full_version == "3.10.4"
semver==2.13.0 ; python_full_version == "3.10.4"
sgqlc==16.1 ; python_full_version == "3.10.4"
six==1.16.0 ; python_full_version == "3.10.4"
soupsieve==2.4 ; python_full_version == "3.10.4"
urllib3==1.26.14 ; python_full_version == "3.10.4"
