certifi==2023.5.7 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
charset-normalizer==3.1.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
enforce-typing==1.0.0.post1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
graphql-core==3.2.3 ; python_full_version >= "3.8.1" and python_version < "4"
idna==3.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
python-dotenv==1.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
requests==2.31.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
semver==3.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sgqlc==16.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
urllib3==2.0.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
