interactions:
- request:
    body: '{"query": "query {\n  actor {\n    accounts {\n      id\n      name\n      reportingEventTypes(timeWindow:
      {endTime: 1733590491, startTime: 1732985691})\n    }\n  }\n}", "variables":
      null}'
    headers:
      API-Key:
      - new_relic_user_key
      Content-Type:
      - application/json
    method: POST
    uri: https://api.newrelic.com/graphql
  response:
    body:
      string: '{"data":{"actor":{"accounts":[{"id":0000000,"name":"Account 0000000","reportingEventTypes":["Metric","Public_APICall"]}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      proxied-by:
      - Service Gateway
      served-by:
      - nerd-graph
    status:
      code: 200
      message: OK
version: 1
