interactions:
- request:
    body: '{"query": "query {\n  actor {\n    user {\n      id\n      email\n      name\n    }\n  }\n}",
      "variables": null}'
    headers:
      API-Key:
      - new_relic_user_key
      Content-Type:
      - application/json
    method: POST
    uri: https://api.newrelic.com/graphql
  response:
    body:
      string: '{"data":{"actor":{"user":{"email":"sample@domain.com","id":1000000000,"name":"SoftButterfly
        - Demos NR"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      proxied-by:
      - Service Gateway
      served-by:
      - nerd-graph
    status:
      code: 200
      message: OK
version: 1
