interactions:
- request:
    body: '{"query": "query {\n  actor {\n    account(id: 1000000) {\n      id\n      name\n    }\n  }\n}",
      "variables": null}'
    headers:
      API-Key:
      - new_relic_user_key
      Content-Type:
      - application/json
    method: POST
    uri: https://api.newrelic.com/graphql
  response:
    body:
      string: '{"data":{"actor":{"account":{"id":1000000,"name":"Account 1000000"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      proxied-by:
      - Service Gateway
      served-by:
      - nerd-graph
    status:
      code: 200
      message: OK
version: 1
